body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    height: 500px;
    width: 500px;
    display: grid;
    border: solid
}

.box {
    border: solid;
}

.custom-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}